*{
    text-align: center;
}

h2{
    color: crimson;
    text-decoration: underline wavy rebeccapurple;
}

h3{
    color: blueviolet;
    text-decoration: underline wavy red;
}
.blog{
    background-color: aqua;
    border: 2px solid red; 
    border-radius: 20px;
    margin: 5px auto 5px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}

a{
    color: yellow;
    text-decoration: none;
}

span{
    border: 2px solid green;
    height: 100px;
    width: 200px;
    display: inline-block;
    /* display: none; */
}